<!--<header>-->
  <nav class="navbar navbar-expand-mg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home.go_home')}}">
        <img
          src="{{url_for('static', filename='assets/logo/logo.svg')}}"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        Restaurante
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Orden</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('user.show_users')}}"
              >Usuario</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Menú
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="{{url_for('menu.show_plates')}}"
                  >Lista Menú</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="{{url_for('menu.register_plate')}}"
                  >Registrar Plato</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{url_for('menu.show_plates')}}"
                  >Editar/Eliminar Platos</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca De</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('user.logout')}}">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--</header>-->
